@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

body{
    background-color: white;
    margin: 0;
    line-height: 1.5;
    height: 100vh;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    overflow: none;
}

main{
    margin: 0 auto;
}

#menu-nav{
    background-color: black;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 25%;
    width: 100%;
}

#menu-nav ul {
    list-style: none;
    margin: 0;
    float: right;
}

#menu-nav ul li {
    float: left;
}

#menu-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1.2em;
    display: inline-block;
}

#menu-nav ul li a:hover{
    background-color: blue;
    transition: 0.7s;
}

#menu-nav img{
    float: left;
    width: 3.5em;
    margin: 0;
}

#form-search{
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

#search-div{
    margin: 20% auto;
}

#search-div-input{
    width: 80%; 
    float: left;
    text-decoration: none;
}

#search-div-input input{
    padding: 0.7em;
    margin: 0.8% 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #cecece;
}

#search-div-btn{
    float: left;
    width: 20%;
}

#search-div-btn button{
    border-radius: 5px;
    margin: 0.8% 8%;
    float: left;
    border: none;
    padding: 0.5em;
    color: white;
    background-color: #cecece;
}

@media (max-width: 450px) {
    #search-div-input{
        width: 100%; 
    }

    #search-div-btn{
        width: 100%;
    }

    #search-div-btn button{
        padding: 0.5em 15%;
        margin: 5% 30%;
    }
}