body{
    background-color: green;
    margin: 0;
    padding: 0;
    line-height: 1.5;   
}

main{
    width: 60%;
    margin: 15em auto;
}

#menu-nav{
    background-color: black;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 25%;
    width: 100%;
}

#menu-nav ul {
    list-style: none;
    margin: 0;
    float: right;
}

#menu-nav ul li {
    float: left;
}

#menu-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1.24em;
    display: inline-block;
}

#menu-nav ul li a:hover{
    background-color: blue;
    transition: 0.7s;
}

#menu-nav img{
    float: left;
    width: 3.5em;
    margin: 0;
}

#search{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#search-div-input{
    width: 80%;
    float: left;
}

#search-div-input input{
    padding: 0.5em;
    margin: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

#search-div-btn{
    float: left;
    width: 20%;
    margin: 0;
}

#search-div-btn button{
    border-radius: 5px;
    margin: 0 10%;
    box-sizing: border-box;
}